.view-rpt-btn{
    position: absolute;
    right: 250px;
    top: 200px;
}
.view-rpt-btn-1{
    position: absolute;
    right: 90px;
    top: 200px;
}
.view-rpt-btn-1, .view-rpt-btn{
    height: 30px;
    width: 120px;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-left: 10px;
    font-family: "Josefin Sans", sans-serif;
    border: 0px;
    background-color: #12c36d;
    border-radius: 5px; 
}